.col-3 {
    margin-top: 33px;
    justify-content: center;
}

.card {
    border: solid 2px black;
    box-shadow: 10px 10px 5px 12px rgb(102, 100, 100);
    background-color: beige;
    border-radius: 25%;
    margin-top: 33px;
}

.footer {
    background-color: #333333;
    font-size: 13px;
    margin-top: 33px;
}

.footer-container {
    padding: 24px;
}

.footer-cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-city {
    margin-bottom: 8px;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-city {
        width: 100%;
    }
}

.footer-city a {
    color: #ffffff;
}

.footer-copyright {
    color: #a9a9a9;
    text-align: center;
    padding-top: 24px;
}

.icons {
    justify-content: center;
    text-align: center;
    color: white;
}

.amenity-container {
    margin: 33px 0px;
}

.amenity-container img {
    height: 25px;
    margin-top: -4px;
    margin-right: 4px;
}

.page-container {
    padding: 80px 24px;
    margin: 0px 61.5385px;
}

.col-md-auto {
    padding: 0px 12px;
}